@import url(http://fonts.googleapis.com/css?family=Montserrat);

body
{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    margin:0;
    background: #bdc3c7;
}
h1
{
    font-size: 2.5em;
}
.top-bar
{
    width:100%;
    height:50px;
    background: #2c3e50;
    display: block;
}

.main
{
    padding:1%;
}

.presentation
{
    list-style: none;
    max-width: 200px;
}

.presentation:hover
{

}

.presentation a:hover
{
    color:#16a085;
    box-shadow: inset 1px 1px 2px #888888;
}
.presentation a
{
    display:block;
    box-shadow: 1px 1px 2px #888888;
    text-align: center;
    padding:5px 20px;
    background: #ecf0f1;
    cursor: pointer;
    margin-bottom:5px;
    text-decoration: none;
    color:#27ae60;
}

.footer
{
    position: fixed;
    bottom: 0;
    background: #2c3e50;
    width:100%;
    height:50px;
    text-align: center;
    padding-top:25px;
}

.footer a
{
    color:#FFF;
}
.chart{
  display: inline-block;
  width: 95px;
  height: 95px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
 .box-sizing(border-box);
  padding-top: 22px;
}
.chart span{
    display: block;
    font-size: 2em;
    font-weight: normal;


canvas{
    position: absolute;
    left: 0;
    top: 0;
  }
